:root {
  --escala-de-grises-rosa: #ffd8d8;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Cormorant", serif;
  background-color: #f8f8f8;
}

.contenedor {
  height: 100%;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.volver {
  height: 21px;
  color: black;
  background-color: var(--escala-de-grises-rosa);
  margin-top: 30px;
  margin-right: 20px;
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
}

.contenido {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  height: auto;
}

h1 {
  font-size: 37px;
  font-weight: 700;
  margin-bottom: 20px;
}

.imagen-grande {
  width: 49%;
  object-fit: contain;
}
.imagen-grande img {
  width: 100%;
  height: auto;
}

.parte-derecha {
  width: 50%;
}

.imagenes-pequenas {
  display: flex;
  gap: 10px;
  object-fit: contain;
  flex-direction: row;
  justify-content: space-between;
}

.imagen-pequena {
  width: 100%;
  height: auto;
}
.imagen-pequena img {
  width: 100%;
  height: auto;
  display: block;
}
