:root {
  --escala-de-grises-rosa: #ffd8d8;
  --escala-de-grises-gris: #d9d9d9;
}
body {
  margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: var(--escala-de-grises-rosa);
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  width: 100%; /* Ocupa todo el ancho */
  padding: 10px 0; /* Añade un poco de relleno para darle altura */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contenedor {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
}

.navbar {
  flex: 1;
  max-height: 550px;
}
.navbar li {
  float: left;
}

.navbar li a {
  color: black;
  margin-left: 16px;
  padding: 5px;

  text-decoration: none;
  text-align: center;

  font-family: "Cormorant";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contenido {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.imagen {
  flex: 1;
  max-width: 50%;
  height: 99vh;
}
img {
  width: 100%;
  height: 100%;
}
.presentacion {
  margin-left: 22px;
  margin-top: auto; /* esto deja al div presentacion lo mas abajo de la página */
  margin-bottom: 20px;
}
.titulo-presentacion {
  font-weight: 740px;
  font-size: 32px;
}

.descripcion-presentacion {
  width: 334px;
  height: 48px;
  font-size: 14px;
  margin-top: 32px;
}
