:root {
  --escala-de-grises-rosa: #ffd8d8;
  --escala-de-grises-gris: #d9d9d9;
}
body {
  margin: 0;
}
.navbar {
  background-color: var(--escala-de-grises-rosa);
  width: 100%; /* Ocupa todo el ancho */
  padding: 10px 0; /* Añade un poco de relleno para darle altura */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column; /* Cambia la disposición de los elementos a vertical */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .navbar li {
    width: 100%; /* Hace que los LI ocupen todo el ancho disponible */
    text-align: center; /* Centra el texto dentro de los LI */
  }

  .navbar li a {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
  }
}

.navbar {
  flex: 1;
  max-height: 550px;
}
.navbar li {
  float: left;
  justify-content: space-between;
}

.navbar li a {
  color: black;
  margin-left: 16px;
  padding: 5px;

  text-decoration: none;
  text-align: center;

  font-family: "Cormorant";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contenedor {
  display: flex;
  height: 40%;
  align-items: center;
  flex-direction: column;
}
.contenedor-imagen {
  top: 0;
  display: flex;
  width: 100%;
}
img {
  width: 100%;
  height: auto;
}

.nombre {
  color: #000;

  /* Isi/H1 */
  font-family: Cormorant;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 35px;
}
.descripcion {
  color: #000;

  /* Isi/parrafo */
  font-family: Cormorant;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
